{% extends 'base.html,pjax_base.html'|pjax:request %}
{% block content %}
<h1>ホーム画面です</h1>

<input id="input_field" type="text">

<div>
  <p>あああああああああああああああああああ</p>
  <p>あああああああああああああああああああ</p>
  <p>あああああああああああああああああああ</p>
  
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
$(function(){
  $('#input_field').focus();
})

$(function(){
  $('#input_field').on('blur',function(){
    $('#input_field').focus();
  })
})


let is_drag = false
let is_mousemove_done = false

$(function(){
  $(document).on('mousedown',function(){
    is_drag = true;
    
    console.log("mousedownしています。")
    if(is_mousemove_done === true){
      $('#input_field').on('blur');
      $('#input_field').focus();
    }
  })
})

$(function(){
  $(document).on('mouseup',function(){
    is_drag = false;
    console.log("mouseupしています。")
    
  })
})

$(function(){
  $(document).on('mousemove',function(){
    if(is_drag === true){
      $('#input_field').off('blur');
      is_mousemove_done = true
      console.log("mousemoveしています。")
    }
    
  })
})

$(function(){
  $(document).on('mouseleave',function(){
    if(is_drag === false){
      $('#input_field').off('blur');
      is_mousemove_done = true
      console.log("mouseoutしています。")
    }
    
  })
})

//通常マウス時 mousedown -> mouseup (mousemoveなし)=>mousemove 直前がmouseupで終わっている
//mousemove時 mousedown-> mousemove-> mouseup 直前がmousedownで終わっている








</script>
{% endblock %}


<!-- $(function(){
  $(document).on('click',function(){
    console.log("clickしています。")
    $('#input_field').on('blur');
    $('#input_field').focus()
  })
}) -->

mousedown1(blur機能off)->click1()->mousedown2->click2()